* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Helvetica, Arial, Verdana, Sans; }

.synthez-main-dom-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Opened container nodes */
.synthez-dom-node.synthez-dom-is-opened {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background: #eee;
  border: 2px solid #ccc; }
  .synthez-dom-node.synthez-dom-is-opened > .synthez-node-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 20px; }
  .synthez-dom-node.synthez-dom-is-opened > .synthez-node-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 32px; }
  .synthez-dom-node.synthez-dom-is-opened > .synthez-node-connector {
    display: none; }
  .synthez-dom-node.synthez-dom-is-opened .svg-connection-container .synthez-connection-svg-line {
    stroke-width: 2px; }
    .synthez-dom-node.synthez-dom-is-opened .svg-connection-container .synthez-connection-svg-line.synthez-connection-svg-line-audio {
      stroke: #c34727; }
    .synthez-dom-node.synthez-dom-is-opened .svg-connection-container .synthez-connection-svg-line.synthez-connection-svg-line-message {
      stroke: #27c379; }
    .synthez-dom-node.synthez-dom-is-opened .svg-connection-container .synthez-connection-svg-line.synthez-connection-svg-line-dragging {
      opacity: 0.5;
      stroke-dasharray: 5; }

/* Every regular nodes and closed container nodes */
.synthez-dom-node:not(.synthez-dom-is-opened) {
  position: absolute;
  width: 200px;
  height: 100px;
  border-top: 1px solid #528198;
  border-bottom: 1px solid #406577;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-title {
    position: absolute;
    font-size: 12px;
    background: #6d9ab0;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    border: 1px solid #528198;
    border-bottom-color: #497387;
    border-top-color: #afc8d4; }
  .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-body {
    position: absolute;
    left: 0;
    width: 100%;
    top: 22px;
    bottom: 0;
    background: #8eb1c2 no-repeat center;
    -moz-background-size: 30%;
         background-size: 30%;
    border: 1px solid #528198;
    border-top-color: #afc8d4;
    border-bottom: none;
    z-index: 2; }
  .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 99px;
    height: 21px;
    min-height: 21px;
    background: #528198;
    border: 1px solid #406577;
    border-bottom-color: #375766;
    border-top: none;
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-toggle-quick-settings {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background: #6d9ab0 url("../img/bottom_triangle_symbol.svg") no-repeat 50% 50%;
      -moz-background-size: 6%;
           background-size: 6%;
      cursor: pointer;
      border-top: 1px solid #91b3c4;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-toggle-quick-settings:hover, .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-toggle-quick-settings:focus {
        background-color: #528198; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-ux-button {
      padding: 4px 10px;
      font-size: 10px;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
      background: #8eb1c2 no-repeat center;
      -moz-background-size: 50%;
           background-size: 50%;
      border: 1px solid #2e4956;
      border-bottom-width: 3px;
      border-top-color: #e1eaef;
      -webkit-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-ux-button:hover, .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-ux-button:focus {
        background-color: #9fbccb; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container .synthez-ux-button:active {
        border-bottom-width: 2px;
        margin-bottom: 1px;
        -webkit-transform: translateY(1px);
           -moz-transform: translateY(1px);
            -ms-transform: translateY(1px);
             -o-transform: translateY(1px);
                transform: translateY(1px); }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container > .synthez-ux-quick-access-input {
      display: none;
      margin: 10px;
      margin-bottom: 0; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container.synthez-opened {
      padding-bottom: 30px;
      -webkit-box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.4);
         -moz-box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.4);
      height: auto; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container.synthez-opened > .synthez-ux-quick-access-input {
        display: inline-block; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container.synthez-opened .synthez-toggle-quick-settings {
        background-image: url("../img/top_triangle_symbol.svg");
        background-color: #8eb1c2;
        border-top: 1px solid #c0d3dd; }
        .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container.synthez-opened .synthez-toggle-quick-settings:hover, .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-quick-settings-container.synthez-opened .synthez-toggle-quick-settings:focus {
          background-color: #7da6b9; }
  .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector {
    position: absolute;
    width: 26px;
    height: 26px;
    border: 1px solid;
    z-index: 1;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: left 0.2s, right 0.2s;
    -o-transition: left 0.2s, right 0.2s;
    -moz-transition: left 0.2s, right 0.2s;
    transition: left 0.2s, right 0.2s; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.connected {
      opacity: 1;
      cursor: initial; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector:after {
      content: ' ';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
         -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
           -o-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-input {
      left: -13px;
      -webkit-border-top-right-radius: 0;
         -moz-border-radius-topright: 0;
              border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 0;
         -moz-border-radius-bottomright: 0;
              border-bottom-right-radius: 0; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-input:hover, .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-input.synthez-drag-source {
        left: -16.9px; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-input.connected {
        left: -20.8px; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-output {
      right: -13px;
      -webkit-border-top-left-radius: 0;
         -moz-border-radius-topleft: 0;
              border-top-left-radius: 0;
      -webkit-border-bottom-left-radius: 0;
         -moz-border-radius-bottomleft: 0;
              border-bottom-left-radius: 0; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-output:hover, .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-output.synthez-drag-source {
        right: -16.9px; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-output.connected {
        right: -20.8px; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-audio {
      background: #e2866e;
      border-color: #ae4023;
      top: 4px; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-audio:after {
        background-image: url("../img/audio_signal_connector_symbol.svg");
        width: 20.8px;
        height: 20.8px; }
    .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-message {
      background: #6ee2ab;
      border-color: #23ae6c;
      bottom: 4px; }
      .synthez-dom-node:not(.synthez-dom-is-opened) > .synthez-node-connector.synthez-node-connector-message:after {
        background-image: url("../img/message_signal_connector_symbol.svg");
        width: 15.6px;
        height: 15.6px; }
  .synthez-dom-node:not(.synthez-dom-is-opened) .synthez-visualiser-screen {
    display: block;
    width: 100%;
    height: 100%; }
