



$base-dom-node-color: #8eb1c2;
$base-dom-node-title-height: 22px;
$base-dom-node-default-width: 200px;
$base-dom-node-default-height: 100px;

$base-dom-connector-size: 26px;
$base-dom-audio-connector-color: #e2866e;
$base-dom-message-connector-color: #6ee2ab;



* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: Helvetica, Arial, Verdana, Sans;
}

.synthez-main-dom-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}




/* Opened container nodes */
.synthez-dom-node.synthez-dom-is-opened {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	background: #eee;
	border: 2px solid #ccc;

	$container-title-height: 32px;
 
	> .synthez-node-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(0,0,0,0.1);
		text-align: center;
		height: $container-title-height;
		line-height: $container-title-height;
		color: rgba(0, 0, 0, 0.6);
		padding: 0 20px;
	}

	> .synthez-node-body {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: $container-title-height;
	}

	> .synthez-node-connector {
		display: none;
	}

	.svg-connection-container {
		.synthez-connection-svg-line {
			stroke-width: 2px;

			&.synthez-connection-svg-line-audio {
				stroke: darken($base-dom-audio-connector-color, 20%);
			}

			&.synthez-connection-svg-line-message {
				stroke: darken($base-dom-message-connector-color, 20%);
			}
			

			&.synthez-connection-svg-line-dragging {
				opacity: 0.5;
				stroke-dasharray: 5;
			}
		}
	}
}

/* Every regular nodes and closed container nodes */
.synthez-dom-node:not(.synthez-dom-is-opened) {
	position: absolute;
	width: $base-dom-node-default-width;
	height: $base-dom-node-default-height;
	border-top: 1px solid darken($base-dom-node-color, 20%);
	border-bottom: 1px solid darken($base-dom-node-color, 30%);
	user-select: none;

	> .synthez-node-title {
		position: absolute;
		font-size: 12px;
		background: darken($base-dom-node-color, 10%);
		text-align: center;
		top: 0;
		left: 0;
		width: 100%;
		height: $base-dom-node-title-height;
		line-height: $base-dom-node-title-height;
		color: rgba(255, 255, 255, 0.8);
		z-index: 2;
		border: 1px solid darken($base-dom-node-color, 20%);
		border-bottom-color: darken($base-dom-node-color, 25%);
		border-top-color: lighten($base-dom-node-color, 10%);
	}

	> .synthez-node-body {
		position: absolute;
		left: 0;
		width: 100%;
		top: $base-dom-node-title-height;
		bottom: 0;
		background: $base-dom-node-color no-repeat center;
		background-size: 30%;
		border: 1px solid darken($base-dom-node-color, 20%);
		border-top-color: lighten($base-dom-node-color, 10%);
		border-bottom: none;
		z-index: 2;
	}

	> .synthez-node-quick-settings-container {
		position: absolute;
		left: 0;
		width: 100%;
		top: $base-dom-node-default-height - 1px;
		height: 21px;
		min-height: 21px;
		background: darken($base-dom-node-color, 20%);
		border: 1px solid darken($base-dom-node-color, 30%);
		border-bottom-color: darken($base-dom-node-color, 35%);
		border-top: none;
		transition: height 0.2s;

		.synthez-toggle-quick-settings {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 20px;
			background: darken($base-dom-node-color, 10%) url('../img/bottom_triangle_symbol.svg') no-repeat 50% 50%;
			background-size: 6%;
			cursor: pointer;
			border-top: 1px solid lighten($base-dom-node-color, 1%);
			transition: background-color 0.2s;

			&:hover, &:focus {
				background-color: darken($base-dom-node-color, 20%);
			}
		}

		.synthez-ux-button {
			padding: 4px 10px;
			font-size: 10px;
			border-radius: 4px;
			text-transform: uppercase;
			cursor: pointer;
			background: $base-dom-node-color no-repeat center;
			background-size: 50%;
			border: 1px solid darken($base-dom-node-color, 40%);
			border-bottom-width: 3px;
			border-top-color: lighten($base-dom-node-color, 25%);
			transition: background-color 0.2s;

			&:hover, &:focus {
				background-color: lighten($base-dom-node-color, 5%);
			}

			&:active {
				border-bottom-width: 2px;
				margin-bottom: 1px;
				transform: translateY(1px);
			}
		}

		> .synthez-ux-quick-access-input {
			display: none;
			margin: 10px;
			margin-bottom: 0;
		}

		&.synthez-opened {
			padding-bottom: 30px;
			box-shadow: inset 0 2px 5px 0px rgba(0, 0, 0, 0.4);
			height: auto;

			> .synthez-ux-quick-access-input {
				display: inline-block;
			}

			.synthez-toggle-quick-settings {
				background-image: url('../img/top_triangle_symbol.svg');
				background-color: $base-dom-node-color;
				border-top: 1px solid lighten($base-dom-node-color, 15%);

				&:hover, &:focus {
					background-color: darken($base-dom-node-color, 5%);
				}
			}
		}
	}

	> .synthez-node-connector {
		position: absolute;
		width: $base-dom-connector-size;
		height: $base-dom-connector-size;
		border: 1px solid;
		z-index: 1;
		border-radius: 100%;
		opacity: 0.5;
		cursor: pointer;
		transition: left 0.2s, right 0.2s;

		&.connected {
			opacity: 1;
			cursor: initial;
		}

		&:after {
			content: ' ';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}


		&.synthez-node-connector-input {
			left: -$base-dom-connector-size * 0.5;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			&:hover,
			&.synthez-drag-source {
				left: -$base-dom-connector-size * 0.65;
			}

			&.connected {
				left: -$base-dom-connector-size * 0.8;
			}
		}

		&.synthez-node-connector-output {
			right: -$base-dom-connector-size * 0.5;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			&:hover,
			&.synthez-drag-source {
				right: -$base-dom-connector-size * 0.65;
			}

			&.connected {
				right: -$base-dom-connector-size * 0.8;
			}
		}

		&.synthez-node-connector-audio {
			background: $base-dom-audio-connector-color;
			border-color: darken($base-dom-audio-connector-color, 25%);
			top: 4px;

			&:after { 
				background-image: url('../img/audio_signal_connector_symbol.svg');
				width: $base-dom-connector-size * 0.8;
				height: $base-dom-connector-size * 0.8;
			}
		}

		&.synthez-node-connector-message {
			background: $base-dom-message-connector-color;
			border-color: darken($base-dom-message-connector-color, 25%);
			bottom: 4px;

			&:after { 
				background-image: url('../img/message_signal_connector_symbol.svg');
				width: $base-dom-connector-size * 0.6;
				height: $base-dom-connector-size * 0.6;
			}
		}
	}

	.synthez-visualiser-screen {
		display: block;
		width: 100%;
		height: 100%;
	}
}
